/**
 * Created by lauren.lezberg on 1/24/2019.
 */

.THIS .slds-button.slds-button_neutral{
    background-color: #50B848;
    border-color: #50B848;
    color: white;
    font-size: 1.5rem;
    width: 100px;
}

.THIS .slds-form-element__label{
    font-size:1.5rem;
}