/**
 * Created by lauren.lezberg on 1/22/2019.
 */

.THIS *{
    font-size:1.5rem;
}

.THIS .slds-form-element__help{
    font-size:1.25rem;
}
/*.THIS .recordError{*/
/*    font-size:2rem;*/
/*}*/
/*.THIS .slds-text-heading_medium{*/
/*    font-size: 2rem;*/
/*}*/

/*.THIS .slds-form-element__label{*/
/*    font-size:1rem;*/
/*}*/

/*.THIS .slds-form-element__control{*/
/*    font-size:1.5rem;*/
/*}*/

/*.THIS .slds-button {*/
/*    font-size:1.5rem;*/
/*}*/

.THIS .slds-radio .slds-form-element__label{
    font-size:1.35rem;
    font-weight:500;
}

.THIS .slds-truncate{
    font-size:1.15rem;
}

.THIS .slds-radio .slds-radio_faux{
    height:1.5rem;
    width:1.5rem;
}


/*.THIS [lightning-input_input-host]{*/
/*    display:flex;*/
/*}*/

.THIS [lightning-input_input].slds-form-element__control{
    display:contents;
}

.THIS button.slds-button.slds-button_neutral{
    border-color: token(aacrGreen);
    color: token(aacrGreen);
    background:transparent;
    font-size: 15px;
    padding:5px 8px;
}


.THIS button.slds-button.slds-button_brand{
    border-color: token(aacrGreen);
    color: white;
    background:token(aacrGreen);
    font-size: 15px;
    padding:5px 8px;
}