/**
 * Created by afaf.awad on 9/11/2020.
 */

/*.THIS .hide-error-message > .slds-form-element__help {*/
/*    display: none;*/
/*}*/

.THIS .slds-form-element__help{
    color: rgb(194, 57, 52);
}

.THIS .slds-form-element__legend{
    font-weight:400;
    display: none;
}

.THIS .slds-form-element__icon{
    display:none;
}

.THIS .container{
    float: none;
}

.THIS .iframe {
    height: 500px;
    width: 320px;
    align:center;
    margin: auto;
    display: block;
}

.THIS .slds-form-element__row{
    padding-top: 10px;
}

.THIS .slds-select{
    font-size: small;
    font-weight: 400;
}

.THIS .slds-form-element__label{
    font-weight: 400;
}

.THIS .slds-input{
    font-size: small;
    font-weight: 400;
}

.THIS .phoneLabel{
    color: grey;
    font-size: 0.75rem;
}