/**
 * Created by afaf.awad on 3/2/2021.
 */

.THIS .navButtons{
    background-color: token(aacrGreen);
    border-color: token(aacrGreen);
    color: white;
    font-size: 1.5rem;
    width: 6.3rem;
    padding: .5rem;
}