/**
 * Created by afaf.awad on 10/29/2021.
 */

.THIS.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}

.THIS.multiSelectHorizontal .slds-form-element__control {
    display: inline-flex;
    flex-wrap: wrap;

}

.THIS.multiSelectVertical .slds-form-element__control {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.THIS .slds-button.slds-button_neutral{
    background-color: token(aacrGreen);
    border-color: token(aacrGreen);
    color: white;
    font-size: 1rem;
}

.THIS.removeBoldCls .slds-form-element__legend{
    font-weight: normal !important;
}