/**
 * Created by lauren.lezberg on 2/17/2020.
 */
.THIS span.slds-form-element__label{
    font-size:1rem;
    font-weight: var(--lwc-fontWeightLight,300);
    line-height: var(--lwc-lineHeightHeading,1.25);
}

.THIS .slds-form-element__static{
    font-weight:300;
    font-size:1rem;
}