/**
 * Created by lauren.lezberg on 9/24/2020.
 */

.THIS.slds-card{
    border: 4px solid token(aacrGreen);
}

.THIS .slds-truncate{
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
}

.THIS .slds-icon_container{
    display:inline-table;
}

.THIS span.slds-text-heading_small{
    font-size:1rem;
    font-width:bold;
}