/**
 * Created by lauren.lezberg on 6/3/2019.
 */
.THIS .slds-file-selector{
    font-size:1.5rem;
}

.THIS .slds-file-selector_files .slds-file-selector__body{
    font-weight:400;
    padding:5px;
}

.THIS .slds-file-selector_files .slds-file-selector__button{
    padding: 1.5rem;
}

.THIS .slds-button.slds-button_neutral{
    background-color: token(aacrGreen);
    border-color: token(aacrGreen);
    color: white;
    font-size: 1.5rem;
}

.THIS .slds-text-heading_medium{
    font-size:1.5rem;
}

.THIS .slds-form-element__label{
    font-size:1.5rem;
}

.THIS.customError{
    border: 1px solid rgb(194,57,52);
}