/**
 * Created by lauren.lezberg on 5/8/2020.
 */

.THIS .slds-button.slds-button_brand{
    background-color: token(aacrGreen);
    border-color: token(aacrGreen);
    color: white;
    font-size:1.5rem;
    padding-top: 1rem;
    padding-bottom: .75rem;
    display: block;
}

.THIS button.slds-button.slds-button_brand[disabled] {
    background-color: rgb(217, 219, 221);
    border-color:rgb(217, 219, 221);
}

.THIS .slds-button.slds-button_neutral{
    border-color: token(aacrGreen);
    color: token(aacrGreen);
    font-size:1.5rem;
    padding-top: 1rem;
    padding-bottom: .75rem;
    display: block;
}



.THIS .header{
    font-size: 30px;
    font-weight:500;

}