/**
 * Created by lauren.lezberg on 1/13/2021.
 */

.THIS {
    font-size:1.5rem;
}

.THIS  .slds-checkbox .slds-checkbox_faux{
    height:2rem;
    width:2rem;
}



.THIS label.slds-checkbox__label{
    /*display:block;*/
}