/**
 * Created by afaf.awad on 1/20/2021.
 */

.THIS .slds-form_horizontal .slds-form-element .slds-form-element__control{
    padding: initial;
}

.THIS .slds-box{
    margin:auto;
    width:1350px;
}