/**
 * Created by lauren.lezberg on 9/6/2019.
 */
.THIS .slds-text-heading_medium{
    font-weight:500;
}
.THIS .slds-checkbox_faux{
    padding:10px;
}

.THIS .slds-textarea{
    height:6rem;
}


.THIS .slds-text-heading_medium.boxLabel{
    display: flex;
}

.THIS .slds-text-body_regular.boxDescription{
    align-self:center;
}