/**
 * Created by lauren.lezberg on 3/23/2020.
 */
/*.THIS lightning-record-edit-form{*/
    /*display:flex;*/
/*}*/

.THIS .slds-text-heading_large{
    font-size:2.5rem;
}

.THIS .slds-form-element__label{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(107, 109, 112);
}